<div class="container-fluid">
    <div class="row">
    
        <div style="display: flex; flex-direction: row;"> 
            
            <div class="box-one">
                <h1>{{title}}</h1>
                <h4>{{ para }}</h4>
                <a routerLink="">
                    <button class="button-54">Historia do Clube</button>
                </a>
            </div>    
            
            <div class="box-two">
                <img [src]="imageSrc" alt="">
            </div>
    
         </div>   
         
    </div>
</div>