.image{

}

.item{
    width: 80%;
    align-items: center;
    text-align: center;
}
.item > a{
    text-decoration: none;
    color: rgb(21, 21, 21);
    text-transform: uppercase;
    margin-left: 10%;
    font-size: 30px;
    font-family: 'segoe ui';
    font-weight: 600;
    letter-spacing: 2px;
}
.item > a:hover{
    color: #D99725;
    text-decoration: underline;
    font-size: 32px;
}

section{
    display: flex;
    flex-direction: row;
    padding: 60px ;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
button > a {
    color: #373B44;
    text-decoration: none;
    font-family: 'Segoe UI';
    font-size: 20px;
}