.images{
    width: 100%;
    border-radius: 16px;
}
.container-fluid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    background-image: linear-gradient(#ffffff, #ffffff);
}

@media (max-width: 800px) {
    .container {
      width: 400px;
    }
    
}