section{
    margin: 10px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 5px;
}

h1{
    text-align: center;
    font-size: 60px;    
    color: black;
    padding: 20px 180px;
}
h2{
    text-align: center;
    font-size: 40px;
    margin: 10px 100px;
}

.box-1{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    
}
p{
    font-size: 25px;
    font-weight: 200;
}
img{
    width: 100%;
}
.desc{
    font-size: 16px;
}