<app-menu></app-menu>
<section>

    <div class="box-1">
        <h1>{{ dados.titulo }}</h1><br>
        <hr>
        <img src="{{ dados.foto }}" alt="teste" ><br><br>
        <h2>{{ dados.subTitulo }}</h2><br>
        <hr><br>
        <p>{{ dados.p_Um}}</p><br><br>
        <p>{{ dados.p_Dois}}</p><br><br>
        <p>{{ dados.p_Tres}}</p><br><br>
        <p>{{ dados.p_Quatro}}</p><br><br>
        <p>{{ dados.p_Cinco}}</p><br><br>
        <p>{{ dados.p_Seis}}</p><br><br>
        <p>{{ dados.p_Sete}}</p><br>
        <br>
        <hr>
        <p class="desc">Fonte: <strong>{{dados.fonte}}</strong></p>
        <p class="desc">Data da Postagem: <strong>{{ dados.dataHora }}</strong></p>
    </div>

</section>

<app-footer></app-footer>
