<div class="container-fluid" style="background-color: #D99725;">
    <div class="row" style="margin-top: 20px; margin: 0px 60px; padding: 20px;" >

        <section style="display: flex; flex-direction: row;">
            <div>
                <p></p>         
            </div>  
        </section>
        <div style="display: flex; flex-direction: row; align-items: end; justify-content: end;">
            <h5 style="color:white;">Autor: Vinicius Fernandes | Dev Full Stack</h5>
        </div>
</div>
