<div class="container-fluid">
    <div class="row">
    
        <div style="display: flex; flex-direction: row;"> 
            <div class="box-two">
                <img [src]="imageSrc" alt="">
            </div>
    
            <div class="box-one">
                 <h1>{{title}}</h1>
                <h4>{{para}}</h4>
                <a href="https://www.realmadrid.com/pt/adeptos">
                    <button class="button-54">Seja Sócio Torcedor</button>
                </a>
            </div>    
        </div>
        
    </div>
</div>